:root {
  --border: 0.5px solid white;
}

body {
  background-image: url(images/ShinyMonster.jpg);
  background-size: cover;
  background-position: center;
  padding: 56px 0;
  font-family: "Red Hat Mono", monospace;
  line-height: 16px;
  letter-spacing: 0.25em;
}

.navbar {
  background-color: transparent !important;
  border-color: transparent !important;
  margin-left: auto;
  margin-right: auto;
  width: 81.5%;
}
.navbar-nav .nav-link {
  color: white !important;
  font-size: 12px;
}
.shpLogo {
  width: 227px;
  height: 22px;
}
.container {
  width: 80%;
  height: 669px;
  border: var(--border);
  margin-top: -8px;
}
.frameOne {
  width: 49%;
  padding: 0px 32px;
  margin: 45px 0 0 10px;
}
p,
footer {
  color: white;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-size: 10px;
}
p {
  line-height: 19px;
}
footer {
  margin: 8px auto;
  width: 80%;

  line-height: 15px;
}
