:root {
  --border: 0.5px solid white;
  --linkColor: #fd89b3;
  --menu-color: #7d2d49;
}

body {
  background-image: url(images/ShinyMonster.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Red Hat Mono", monospace;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  overflow: hidden;
}
.container {
  width: 80%;
  height: 55%;
  margin: 0 auto;
  margin-top: 30px;
}
.main,
.main-landing {
  width: 100%;
  height: 70vh;
  border: var(--border);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.navbar {
  background-color: transparent !important;
  border-color: transparent !important;
  margin: 0px auto;
  margin-left: -12px;
  margin-right: -42px;
  height: 60px;
  padding-top: 30px;
}
.navbar-nav .nav-link {
  color: white !important;
  font-size: 12px;
  line-height: 16px;
  margin-right: 20px;
}
.nav-item {
  margin-bottom: -10px;
}
.shpLogo {
  width: 227px;
  height: 22px;
}
.nav-link:hover {
  color: var(--linkColor) !important;
}
.navbar-toggler-icon {
  width: 30px;
  height: 30px;
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  margin-right: -7px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler-icon:active {
  outline: none;
  border: 0;
  box-shadow: none;
}
h2 {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin: 5px 0;
}

p,
footer {
  color: white;
  letter-spacing: 0.25em;
  font-size: 10px;
}
p,
h2 {
  line-height: 19px;
}
p.personer {
  margin: 12px 0 24px 0;
}
a {
  color: white;
  text-decoration: none;
}

.frameOne,
.frameThree,
.frameFour {
  padding: 35px 42px 0 42px;
}

.frameOne,
.frameTwo,
.frameThree,
.frameFour,
.contact-button {
  grid-column: 1 / 2;
}

.frameTwo {
  font-size: 8px;
  line-height: 14px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 70%;
}
.frameThree,
.frameFour {
  width: 82%;
}
.contact-button {
  font-size: 8px;
  width: 65%;
  background-color: transparent;
  color: white;
  border: var(--border);
  margin-top: 20px;
  padding: 10px 10px;
  font-family: "Red Hat Mono", monospace;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
footer {
  margin: 8px auto;
  font-size: 10px;
  line-height: 15px;
}
.footer-content {
  display: flex;
}

@media (max-width: 1050px) {
  .container {
    width: 83%;
    margin-top: 55px;
  }
  .main,
  .main-landing {
    height: 65vh;
    grid-template-columns: 3fr 1fr;
  }

  p {
    font-size: 11px;
  }
  .frameOne,
  .frameThree,
  .frameFour {
    padding: 30px 80px 0 30px;
  }
  .frameTwo {
    padding: 0 80px 30px 30px;
    margin: 0 0;
    font-size: 9px;
    width: 100%;
  }
  footer {
    font-size: 11px;
    line-height: 16px;
  }
  .footer-content {
    display: block;
  }
  .footerDot {
    display: none;
  }
}

@media (max-width: 992px) {
  .container {
    width: 80%;
  }
  .main,
  .main-landing {
    height: 68vh;
  }
  .navbar {
    margin: 0 -21px 15px -9px;
  }

  .navbar-nav .nav-link {
    background-color: var(--linkColor);
    text-align: center;
  }
  .nav-link.dura {
    padding-bottom: 40px;
  }
  .nav-link:hover {
    color: white !important;
  }
  .shpLogo {
    width: 239px;
    height: 23px;
  }
  .frameOne,
  .frameThree,
  .frameFour {
    margin-left: 2px;
    margin-top: -1px;
  }
  .frameTwo {
    padding: 0 11px 9px 13px;
  }
  h2 {
    margin-top: -1px;
  }
  p {
    font-size: 10px;
    line-height: 19px;
  }
}
@media (max-width: 750px) {
  body {
    background-image: url(images/ShinyMonster-mobil.jpg);
    background-position: right;
  }
  .container {
    width: 94%;
    margin-top: 10px;
  }
  .main,
  .main-landing {
    grid-template-columns: 1fr;
  }
  .main {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .frameOne,
  .frameThree,
  .frameFour {
    padding: 10px 10px 0 10px;
    font-size: 11px;
    width: 100%;
  }
  .contact-button {
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 14px;
    width: 50%;
  }
}
@media (max-width: 338px) {
  .container {
    width: 97%;
    margin-top: 5px;
  }
  .shpLogo {
    width: 181px;
    height: 18px;
  }
  .navbar-toggler-icon {
    width: 25px;
    height: 25px;
  }
  p,
  footer {
    font-size: 9px;
  }
  .frameOne,
  .frameThree,
  .frameFour {
    padding: 6px 0 0 6px;
  }
  .frameTwo {
    padding: 0 6px 6px 6px;
  }
}
